.signin-background {
    height: 100vh;

    background-image: url('BlackHole.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.signin-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-form {
    height: 450px;
    width: 400px;
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(60px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    color: white;
}

.input-box {
    padding: 5px 7px;
    border-bottom: 1px solid #50f0ff;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 5px;
    outline: none;

    border-radius: 5px;
    background-color: transparent;

    transition: all 0.5s;
}

.input-box:focus {
    border: 1px solid #50f0ff;
}

.sign-in-button {
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #50f0ff;
    font-size: 15px;
    color: rgb(76, 76, 76);

    background-color: transparent;
    backdrop-filter: blur(60px);

    transition: all 0.3s;
}

.sign-in-button:hover {
    box-shadow: 0px 0px 20px 10px aquamarine;
}

.sign-in-button:active {
    background: rgba(39, 39, 39, 0.9);
    color: white;
}

.signup-here-button {
    border: none;
    background-color: transparent;
}