.page-container {
    height: 100vh;
    /* width: 600px; */
    padding: 0 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-container h1 {
    margin: 0;
}